body
{
    color: white;
    background: url("bg.jpg");
}


#heading{
    text-align: center;
    text-decoration: underline;
    color: wheat;
}

form{
    color: wheat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label h1{
    margin: 5px;
}

#cityName{
    width: 176px;
    margin: auto;
}

#submitButton{
    margin: auto;
    width: 60px;
    margin-top: 10px;
}